@import url(http://fonts.googleapis.com/css?family=Montserrat|Bilbo+Swash+Caps|Lato);
 body {
  /*padding-top: 70px;*/
  padding-bottom: 60px;
  font-family: 'Montserrat', sans-serif;
  background: url('/img/bg-pic.jpg') no-repeat top left fixed;
  height: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
h1 {
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 250%;
}
h1 .font-bride {
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 175%;
}
h1 .font-groom {
  font-family: 'Lato', sans-serif;
  font-size: 125%;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 110%;
}
.img-heart {
  padding-bottom: 0px;
}
.img-limit {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.fixed-bg {
  background: url('/img/bg-pic.jpg') no-repeat top left fixed;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
}
.spacers {
  padding-top: 10px;
  padding-bottom: 100px;
}
.float-img {
  float: left;
  padding: 5px;
}
.transparent-dark {
  color: #fff;
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0, 0, 0, 0.70);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop(0%, rgba(0, 0, 0, 0.00)), color-stop(100%, rgba(0, 0, 0, 0.00)));
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
}
.transparent-light {
  color: #fff;
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0, 0, 0, 0.20);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop(0%, rgba(0, 0, 0, 0.00)), color-stop(100%, rgba(0, 0, 0, 0.00)));
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
}
.vert-responsive-iframe-container {
  position: relative;
  padding-bottom: 150%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.responsive-iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.vert-responsive-iframe-container iframe,
.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
  position: absolute;
  padding: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}